# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Goto template'
      'command': 'goto-template:go'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Goto template'
      'submenu': [
        {
          'label': 'Go to template'
          'command': 'goto-template:go'
        },
        {
          'label': 'Go to test spec'
          'command': 'goto-template:gotest'
        }
      ]
    ]
  }
]
